.myGrid{
    display: inline-grid;
    columns: 4;
    height: 4rem;
    grid-template-columns: 2fr 22fr 2fr 1fr;
    padding-bottom: 1rem;
}

.itemGrid{
    display: inline;
}

.contentImg{
    justify-content: center;
    margin: 0.5rem;
}

.contenedor{
    display: inline-grid;
    columns: 2;
    grid-template-columns: 65% 35%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.buttonBack{
    margin-bottom: 1rem;
}